html {
  font-size: 15px;
}

body {
  margin: 0;
	font: 1rem/1.2 serif;
}

.Bar {
	position: absolute;
	left: 30px;
	bottom: 30px;
  z-index: 2;
}

.Bar-logo {
	display: inline-block;
	font-size: 3.5rem;
	line-height: 1;
  color: #fff;
  text-shadow:
    0 -1px #000,
    0 1px #000,
    -1px 0 #000,
    1px 0 #000,
    -1px -1px #000,
    -1px 1px #000,
    -1px 1px #000,
    1px -1px #000;
}

.Bar-player {
  margin-left: 25px;
	vertical-align: bottom;
}

.Visualizer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.Visualizer canvas {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}